@model List<MyPortfolio.DAL.Entities.Skill>
<div class="col-six tab-full right">
    <h3>Programklama Dilleri & Teknolojiler</h3>

    <ul class="skill-bars">
        @foreach (var item in Model)
        {
            <li>
                <div class="progress percent "><span>@item.Value%</span></div>
                <strong>@item.Title</strong>
            </li>
        }
    </ul>
</div>
